<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>profile update</title>
</head>

            <!--프로필 수정-->
            <form id="profileUpdate" action="/update" method="post">
                <div>
                    <div>email</div>
                    <div>
                        <input class="input_update" type="text" name="email" id="email"/>
                    </div>
                </div>
                <div>
                    <div>name</div>
                    <div>
                        <input class="input_update" type="text" name="name" id="name" placeholder="username"/>
                    </div>
                </div>
                <div>
                    <div>password</div>
                    <div>
                        <input class="input_update" type="password" name="password" id="password" placeholder="password"/>
                    </div>
                </div>
                <div>
                    <div>nickname</div>
                    <div>
                        <input class="input_update" type="text" name="nickname" id="nickname" placeholder="nickname"/>
                    </div>
                </div>
                <div>
                    <div>phone_number</div>
                    <div>
                        <input class="input_update" type="text" name="phone_number" id="phone_number" placeholder="phone_number"/>
                    </div>
                </div>
                <div>
                <div>age</div>
                <div>
                    <input class="input_update" type="text" name="age" id="age" placeholder="age"/>
                </div>
            </div>
                <div>
                    <div>role</div>
                    <select type="text" name="role" placeholder="role">
                <option>-- 선택 --</option>
                <option>ROLE_USER</option>
                <option>ROLE_ADMIN</option>
            </select>
                </div>
                <button type="submit">Update</button>
            </form>
</body>
</html>